{% extends 'BASE.html' %}

{% block content %}

<style>
    .container {
        /* background-color: red; */
        margin: 20px auto;
        padding: 0;
    }

    .container-in {
        display: flex;
        height: 266px;
    }

    .isian {
        margin: 5px 0;
        height: 210px;
    }

    .d-container {
        width: 25%;
        /* background-color: blue; */
        padding: 0 10px;
    }

    .d-title {
        width: 100%;
        background-color: #333;
        text-align: center;
        border-style: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
    }

    .d-title:hover {
        background-color: white;
        border-style: solid;
        border-color: #333;
        color: #333;
    }

    .d-content {
        /* background-color: cyan; */
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
    }

    .d-content-text {
        padding: auto 0;
    }

        /* width */
    ::-webkit-scrollbar {
    width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #555; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #333; 
    }
</style>


<div class="modal fade modal-delete" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <input type="hidden" id="url-delete">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this data ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="javascript:void(0);" type="submit" class="btn btn-danger btn-block" id="btn-delete">YES</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-detail" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <input type="hidden" id="url-detail">
            <input type="hidden" id="url-edit">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="detailModalLabel">Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5><label class="col-form-label">Title</label><br></h5>
                <span id="modal-detail-title">title</span><br>
                <h5><label class="col-form-label">Date</label><br></h5>
                <span id="modal-detail-date">date</span><br></h5>
                <h5><label class="col-form-label">Progress</label><br></h5>
                <span id="modal-detail-progress">progress</span>%<br>
                <h5><label class="col-form-label">Weight</label><br></h5>
                <span id="modal-detail-weight">weight</span><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-detail-exit" data-bs-dismiss="modal">Exit</button>
                <button class="btn btn-primary modal-detail-edit">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    {% include 'modal_create.html' %}
</div>

<div class="container">
    <div class="container-in">
        <div class="d-container">
            <div class="judul">
                <button type="button" class="btn d-title" data-bs-toggle="modal" data-bs-target="#addModal">
                    MONDAY
                </button>
            </div>
            <div class="isian overflow-auto">
                {% for i in monday %}
                <div class="d-content">
                    <div class="d-content-text btn-detail" data-id={{i.id}}>{{i.title}}</div>
                    <button type="button" class="gg-remove d-content-delete btn-delete" data-id={{i.id}} data-bs-toggle="modal"
                        data-bs-target="#deleteModal"></button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-container">
            <div class="judul">
                <button type="button" class="btn d-title" data-bs-toggle="modal" data-bs-target="#addModal">
                    TUESDAY
                </button>
            </div>
            <div class="isian overflow-auto">
            {% for i in tuesday %}
                <div class="d-content">
                    <div class="d-content-text btn-detail" data-id={{i.id}}>{{i.title}}</div>
                    <button type="button" class="gg-remove d-content-delete btn-delete" data-id={{i.id}} data-bs-toggle="modal"
                        data-bs-target="#deleteModal"></button>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="d-container">
            <div class="judul">
                <button type="button" class="btn d-title" data-bs-toggle="modal" data-bs-target="#addModal">
                    WEDNESDAY
                </button>
            </div>
            <div class="isian overflow-auto">
                {% for i in wednesday %}
                <div class="d-content">
                    <div class="d-content-text btn-detail" data-id={{i.id}}>{{i.title}}</div>
                    <button type="button" class="gg-remove d-content-delete btn-delete" data-id={{i.id}} data-bs-toggle="modal"
                        data-bs-target="#deleteModal"></button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-container">
            <div class="judul">
                <button type="button" class="btn d-title" data-bs-toggle="modal" data-bs-target="#addModal">
                    THURSDAY
                </button>
            </div>
            <div class="isian overflow-auto">
                {% for i in thursday %}
                <div class="d-content">
                    <div class="d-content-text btn-detail" data-id={{i.id}}>{{i.title}}</div>
                    <button type="button" class="gg-remove d-content-delete btn-delete" data-id={{i.id}} data-bs-toggle="modal"
                        data-bs-target="#deleteModal"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
    <div class="container-in">
        <div class="d-container">
            <div class="judul">
                <button type="button" class="btn d-title" data-bs-toggle="modal" data-bs-target="#addModal">
                    FRIDAY
                </button>
            </div>
            <div class="isian overflow-auto">
                {% for i in friday %}
                <div class="d-content">
                    <div class="d-content-text btn-detail" data-id={{i.id}}>{{i.title}}</div>
                    <button type="button" class="gg-remove d-content-delete btn-delete" data-id={{i.id}} data-bs-toggle="modal"
                        data-bs-target="#deleteModal"></button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-container">
            <div class="judul">
                <button type="button" class="btn d-title" data-bs-toggle="modal" data-bs-target="#addModal">
                    SATURDAY
                </button>
            </div>
            <div class="isian overflow-auto">
                {% for i in saturday %}
                <div class="d-content">
                    <div class="d-content-text btn-detail" data-id={{i.id}}>{{i.title}}</div>
                    <button type="button" class="gg-remove d-content-delete btn-delete" data-id={{i.id}} data-bs-toggle="modal"
                        data-bs-target="#deleteModal"></button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-container">
            <div class="judul">
                <button type="button" class="btn d-title" data-bs-toggle="modal" data-bs-target="#addModal">
                    SUNDAY
                </button>
            </div>
            <div class="isian overflow-auto">
                {% for i in sunday %}
                <div class="d-content">
                    <div class="d-content-text btn-detail" data-id={{i.id}}>{{i.title}}</div>
                    <button type="button" class="gg-remove d-content-delete btn-delete" data-id={{i.id}} data-bs-toggle="modal"
                        data-bs-target="#deleteModal"></button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-container">
            <div class="judul">
                <button type="button" class="btn d-title" data-bs-toggle="modal" data-bs-target="#addModal">
                    Total Progress
                </button>
            </div>
            <div class="isian overflow-auto">
                <div class="align-middle" style="text-align: center;">
                    <h1>{{score}} %</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function Create(){
    let date = $("#InputDate").val();
    let title = $("#InputTitle").val();
    let weight = $("#InputWeight").val();
    let initial = $("#InputInitial").val();
    let target = $("#InputTarget").val();
    $.ajax({
            url: `{% url 'task:create' %}`,
            method: 'post',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            data: {
                date : date,
                title : title,
                initial : initial,
                target : target,
                weight : weight,
            }
    })
    .done(function(data) {
        console.log('done');
    })
    .fail(function(e) {
        console.log('error');
    });
    $('#addModal').modal('hide');
    $("#formCreateTask")[0].reset();
    window.location.reload();
};
$('body').on('click', '.btn-delete', function() {
    url = `{% url 'task:delete' pk=0 %}`;
    id = $(this).attr('data-id');
    $('#url-delete').val(url.replace("0", id));
    console.log(url);
});

$('.modal-detail-exit').on('click', function() {
    $('.modal-detail').modal('hide');
})

$('body').on('click', '.btn-detail', function() {
    let id = $(this).attr('data-id');
    url = `{% url 'task:update' pk=0 %}`;
    $('#url-edit').val(url.replace("0", id));
    detailWeightRule(id);
});

$('.modal-detail-edit').on('click', function() {
    window.location.href = $('#url-edit').val();
})

function detailWeightRule(id) {
    url = `{% url 'task:detail' pk="0" %}`
    urlTemp = url.replace("0", id)
    $.ajax({
          url: urlTemp
    })
    .done(function(data) {
        //var links = '';
        $('#modal-detail-title').html(data.title);
        $('#modal-detail-date').html(data.date);
        $('#modal-detail-progress').html(data.progress);
        $('#modal-detail-weight').html(data.weight);
        $('.modal-detail').modal('show');
    })
}

$('#btn-delete').on('click', function() {
    var urlTemp = $('#url-delete').val();
    $.ajax({
        url: urlTemp,
        method: 'post',
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
    })
        .done(function(data) {
            $('.modal-delete').modal('hide');
            window.location.reload();
    })
        .fail(function(e) {
            $('.modal-delete').modal('hide');
    }); 
});


</script>

{% endblock %}